// header, footer, navigation, section 
section.homepage {
  background-image: url("../img/hero.jpg");
  background-size: cover;
  height: 100vh;
  z-index: 999;
  position: relative;
  .logo-section {
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: auto;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, .25));
    max-width: 50%;
    flex-direction: column;
    svg {
      width: 100%;
    }
  }
  .horizontal-images {
    display: flex;
    width: 100vw;
    margin-top: 8px;
    height: 100%;
    #high-line {
      background-image: url("../img/high-line/AnitaNg-FHLselects-014.JPG");
      margin-right: 4px;
    }
    #death-valley {
      background-image: url("../img/death-valley/2018_Fall-DeathValley-California-Dessert-Mountains-Fauna-Flora-Travel-03.jpg");
      margin-left: 4px;
    }
    #interiors {
      background-image: url("../img/interiors/212SouthOxford-004.jpg");
      margin-right: 4px;
    }
    #construction {
      background-image: url("../img/construction/Frame-HRCG-50West-12.jpg");
      margin-left: 4px;
    }
    #high-line, #death-valley, #interiors, #construction {
      background-size: cover;
      width: 50%;
    }
    a {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 10px;
      &:before {
        content: '';
        opacity: 0;
      }
      &:hover {
        opacity: 1;
        background-color: rgba(75, 176, 161, .75);
      }
      img {
        width: 100%;
      }
    }
  }
}
section.navigation {
  position: fixed;
  justify-content: center;
  top: 0;
  z-index: 999;
  #anitas-logo {
    transition: all 0.5s;
    width: 200px;
    height: 100%;
    fill: #fff;
    padding: 40px;
    filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.75));
  }
  #anita-x {
    width: 60px;
    fill: #cecece;
    margin-bottom: 40px;
    transform-origin: top left;
    /* IE 10+, Firefox, etc. */
    -webkit-transform-origin: top left;
    /* Chrome */
    -ms-transform-origin: top left;
    /* IE 9 */
  }
  #mobile-nav.rotate90 #anita-x{
    transform: rotate(90deg) translateY(-100%);
    -webkit-transform: rotate(90deg) translateY(-100%);
    -ms-transform: rotate(90deg) translateY(-100%);
  }
  #mobile-nav.rotate180 #anita-x{
    transform: rotate(180deg) translate(-100%, -100%);
    -webkit-transform: rotate(180deg) translate(-100%, -100%);
    -ms-transform: rotate(180deg) translateX(-100%, -100%);
  }
  #mobile-nav.rotate270 #anita-x{
    transform: rotate(270deg) translateX(-100%);
    -webkit-transform: rotate(270deg) translateX(-100%);
    -ms-transform: rotate(270deg) translateX(-100%);
  }
  #mobile-nav {
    display: block;
    position: relative;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    height: 100%;
  }
  #mobile-nav input {
    display: block;
    width: 200px;
    height: 60px;
    position: absolute;
    top: 40px;
    left: 40px;
    margin: 0;
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    -webkit-touch-callout: none;
    &:checked {
      width: 60px;
      top: 40px;
      left: 40px;
    }
  }
  /* Make this absolute positioned at the top right of the screen */
  #menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: 0;
    padding: 40px;
    left: 0;
    top: 0;
    background: #fff;
    list-style-type: none;
    height: calc(100vh - 80px);
    -webkit-font-smoothig: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translate(-110%, 0);
    transition: transform 1s cubic-bezier(0.77,0.2,0.05,1.0);
    box-shadow: 20px 0px 60px -20px rgba(0,0,0,0.5);
  }
  ul {
    padding: 0;
    list-style-type: none;
    li {
      padding: 30px 0 10px;
      font-size: 1rem;
      letter-spacing: .25rem;
      text-transform: uppercase;
      text-decoration: none;
      color: rgba(75, 176, 161, 1);
      transition: color 0.3s ease;
      font-weight: 700;
    }
    ul {
      li {
        font-size: 1rem;
        padding: 0 20px 20px;
        font-weight: 400;
      }
    }
  }
  /*  And let's slide it in from the left */
  #mobile-nav input:checked ~ ul{
    transform: none;
  }
  a > li:hover {
    color: rgba(75,176,161, .5);
  }
  li {
    a {
      color: rgba(75,176,161, 1);
      display: block;
      margin-left: 40px;
      text-decoration: none;
      line-height: 60px;
      width: inherit;
    }
  }
  .social-media {
    margin-top: 120px;
    display: flex;
  }
  #instagram, #linkedin {
    width: 30px;
    fill: rgba(75,176,161, 1);
    margin-right: 30px;
    transition: all 0.5s;
    align-self: flex-end;
    &:hover {
      fill: rgba(75,176,161, .5);
    }
  }
}
main {
  background: #fff;
  img {
    width: 100%;
    display:block;
    margin-bottom: 8px;
    &.last-image {
      margin-bottom: 100vh;
    }
  }
  .horizontal-images {
    display: flex;
    width: 100vw;
    img {
      width: calc(50% - 4px);
      height: 100%;
      &:first-of-type {
        padding-right: 4px;
      }
      &:last-of-type {
        padding-left: 4px;
      }
    }
  }
  .horizontal-mix-images {
    display: inline-flex;
    img {
      height: 100%;
      &:first-of-type {
        width: calc(30.95% - 4px);
        padding-right: 4px;
      }
      &:last-of-type {
        width: calc(69.05% - 4px);
        padding-left: 6px;
      }
    }
  }
  .travel, .about {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgba(75, 176, 161, .5);
    h1 {
      color: #fff;
      font-weight: 400;
    }
  }
}
section.bio {
  position: fixed; 
  bottom: 0;
  z-index: -1;
  padding: 5rem 5rem 2rem;
  display: inline-flex;
  .headshot {
    width: 50vw;
    img {
      height: 100%;
      width: inherit;
    }
  }
  .description {
    display: flex;
    align-items: center;
    width: 100%;
    p {
      font-size: 2rem;
      background: #dea025;
      padding: 4rem;
      margin: 5rem 0 0 -3rem;
      width: 30vw;
      color: #fff;
    }
  }
}

@media only screen and (max-width: 480px) {
  section.homepage {
    .logo-section {
      max-width: 80%;
    }
    .horizontal-images {
      flex-direction: column;
      height: auto;
      margin-top: 0;
      #high-line, #death-valley, #interiors, #construction {
        margin: 0;
        width: 100%;
        height: 25vh;
        margin-top: 4px;
      }
      a {
        font-size: 1rem;
      }
    }
  }

  section.navigation {
    #anitas-logo {
      width: 140px;
      padding: 40px 20px 20px;
    }
    #anita-x {
      width: 40px;
      margin-bottom: 20px;
    }
    ul {
      li {
        padding: 20px 0 20px;
        ul {
          li {
            padding-bottom: 10px; 
          } 
        }
      }
    }
    #mobile-nav input {
      width: 140px;
      height: 40px;
      top: 40px;
      left: 20px;
      &:checked {
        width: 40px;
        top: 40px;
        left: 40px;
      }
    }
    #menu {
      padding: 40px;
    }
  }

  main {
    img {
      margin-bottom: 4px;
    }
    .horizontal-images, .horizontal-mix-images {
      display: flex;
      flex-direction: column;
      img {
        &:first-of-type {
          width: 100%;
          padding-right: 0;
        }
        &:last-of-type {
          width: 100%;
          padding-left: 0;
        }
      }
    }
  }
}