// Header, footer, navigation, section 
section.homepage {
  background-image: url("../img/hero.jpg");
  background-size: cover;
  z-index: 9999;
  height: 100%;
  width: 100%;
  position: fixed;
  background-position: center;
  top: 0;
  .logo-section {
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: auto;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, .5));
    max-width: 50%;
    flex-direction: column;
    padding: 0;
    svg {
      width: 100%;
    }
  }
  .homepage-nav {
    display: inline-flex;
    justify-content: space-around;
    text-transform: uppercase;
    background-color: #fff;
    margin-top: 10px;
    font-size: 1vw;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, .5));
    letter-spacing: 10px;
    a {
      padding: 10px 20px;
      font-weight: 700;
    }
  }
}
header {
  position: fixed;
  justify-content: center;
  top: 0;
  z-index: 999;
  #anitas-logo {
    height: 100%;
    fill: #fff;
    padding: 40px;
    filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.75));
  }
  #anita-x {
    width: 60px;
    fill: #cecece;
    margin-bottom: 40px;
    transform-origin: top left;
    /* IE 10+, Firefox, etc. */
    -webkit-transform-origin: top left;
    /* Chrome */
    -ms-transform-origin: top left;
    /* IE 9 */
  }
  #anita-x {
    width: 60px;
    fill: #cecece;
    margin-bottom: 40px;
    transform-origin: top left;
    /* IE 10+, Firefox, etc. */
    -webkit-transform-origin: top left;
    /* Chrome */
    -ms-transform-origin: top left;
    /* IE 9 */
  }
  // #mobile-nav.rotate90, #mobile-nav.rotate270 {
  //   width: 100px;
  //   height: 820px
  // }
  #mobile-nav.rotate90 #anita-x{
    transform: rotate(90deg) translateY(-100%);
    -webkit-transform: rotate(90deg) translateY(-100%);
    -ms-transform: rotate(90deg) translateY(-100%);
  }
  #mobile-nav.rotate180 #anita-x{
    transform: rotate(180deg) translate(-100%, -100%);
    -webkit-transform: rotate(180deg) translate(-100%, -100%);
    -ms-transform: rotate(180deg) translateX(-100%, -100%);
  }
  #mobile-nav.rotate270 #anita-x{
    transform: rotate(270deg) translateX(-100%);
    -webkit-transform: rotate(270deg) translateX(-100%);
    -ms-transform: rotate(270deg) translateX(-100%);
  }
  #mobile-nav {
    display: block;
    position: relative;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    height: 100%;
  }
  #mobile-nav input {
    display: block;
    width: 200px;
    height: 60px;
    position: absolute;
    top: 40px;
    left: 40px;
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    -webkit-touch-callout: none;
    &:checked {
      width: 60px;
      top: 40px;
      left: 40px;
    }
  }
  /* Make this absolute positioned at the top right of the screen */
  #menu {
    position: absolute;
    margin: 0;
    padding: 40px 40px 20px 40px;
    left: 0;
    top: 0;
    background: #fff;
    list-style-type: none;
    height: 100vh;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translate(-110%, 0);
    transition: transform 1s cubic-bezier(0.77,0.2,0.05,1.0);
    box-shadow: 20px 0px 60px -20px rgba(0,0,0,0.5);
  }
  ul {
    padding: 0;
    li {
      padding: 30px 0 20px;
      font-size: 1rem;
      letter-spacing: .25rem;
      text-transform: uppercase;
      text-decoration: none;
      color: rgba(75, 176, 161, 1);
      transition: color 0.3s ease;
      font-weight: 700;
    }
    ul {
      list-style-type: none;
      li {
        font-size: 1rem;
        padding: 0 20px 20px;
        font-weight: 400;
      }
    }
  }
  /*  And let's slide it in from the left */
  #mobile-nav input:checked ~ ul{
    transform: none;
  }
  li {
    &:hover {
      > ul {
        display: block;
      }
      > a {
        color: rgba(75,176,161, .5);
      }
    }
    a {
      color: rgba(75,176,161, 1);
      display: block;
      margin-left: 40px;
      text-decoration: none;
      line-height: 60px;
      width: inherit;
    }
  }
}
main {
  img {
    width: 100%;
    margin-bottom: 2px;
    display:block;
    margin-bottom: 8px;
  }
  .horizontal-images {
    display: flex;
    width: 100vw;
    img {
      width: calc(50% - 4px);
      height: 100%;
      &:first-of-type {
        padding-right: 4px;
      }
      &:last-of-type {
        padding-left: 4px;
      }
    }
  }
  .horizontal-mix-images {
    display: inline-flex;
    img {
      height: 100%;
      &:first-of-type {
        width: calc(30.95% - 4px);
        padding-right: 4px;
      }
      &:last-of-type {
        width: calc(69.05% - 4px);
        padding-left: 6px;
      }
    }
  }
  .travel, .about {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgba(75, 176, 161, .5);
    h1 {
      color: #fff;
      font-weight: 400;
    }
  }
}

@media only screen and (max-width: 480px) {
  section.homepage {
    .logo-section {
      max-width: 80%;
    }
    .homepage-nav {
      flex-direction: column;
      background-color: transparent;
      align-items: center;
      letter-spacing: 5px;
      a {
        color: #fff;
        font-size: 24px;
        filter: drop-shadow(0 0 10px rgba(0, 0, 0, 1));
        line-height: 24px;
      }
    }
  }

  main {
    .horizontal-images, .horizontal-mix-images {
      display: flex;
      flex-direction: column;
      img {
        &:first-of-type {
          width: 100%;
          padding-right: 0;
        }
        &:last-of-type {
          width: 100%;
          padding-left: 0;
        }
      }
    }
  }
}