{% block scripts %}
<section class="bio">
  <div class="headshot">
    <img src="../img/bio/AnitaHeadshots2018-WEB.jpg">
  </div>
  <div class="description">
    <div class="bio-text">
      <h1>Anita Ng</h1>
      <p>Im a photographer based out of Brooklyn, NY. Lately I've been focusing on interiors and real estate photography, but I'm always open to new perspectives (pun intended). Fun fact: Im a real New Yorker, born and raised in Manhattan! </p>
      <p>Have a fun project that needs to be photographed? <a href="mailto:ineeda.anita@gmail.com?subject=Let's%20work%20together&body=I%20have%20a%20new%20project%20you%20may%20be%20interested%20in...">Lets talk!</a></p>
    </div>
  </div>
</section>


{% endblock %}