{% extends 'layout.html' %} 

{% block content %}
  <main>
    <div>
      <img src="img/death-valley/2018_Fall-DeathValley-California-Dessert-Mountains-Fauna-Flora-Travel-02.jpg"/>

      <div class="horizontal-images">
        <img src="img/death-valley/2018_Fall-DeathValley-California-Dessert-Mountains-Fauna-Flora-Travel-03.jpg"/>
        <img src="img/death-valley/2018_Fall-DeathValley-California-Dessert-Mountains-Fauna-Flora-Travel-04.jpg"/>
      </div>

      <img src="img/death-valley/2018_Fall-DeathValley-California-Dessert-Mountains-Fauna-Flora-Travel-05.jpg"/>
      <img src="img/death-valley/2018_Fall-DeathValley-California-Dessert-Mountains-Fauna-Flora-Travel-06.jpg"/>
      <img src="img/death-valley/2018_Fall-DeathValley-California-Dessert-Mountains-Fauna-Flora-Travel-07.jpg"/>
      <img src="img/death-valley/2018_Fall-DeathValley-California-Dessert-Mountains-Fauna-Flora-Travel-08.jpg"/>
      <img src="img/death-valley/2018_Fall-DeathValley-California-Dessert-Mountains-Fauna-Flora-Travel-09.jpg"/>
      
    </div>

  </main>
{% endblock %}