{% extends 'layout.html' %} 

{% block content %}
  <main>
    <div>
      <img src="img/events/20150123_Vicky_Derick_Wedding-071.jpg"/>
      <img src="img/events/20151023-Wind-UpNYC-OpeningReception-053.jpg"/>
      <img src="img/events/20151023-Wind-UpNYC-OpeningReception-059.jpg"/>
      <img src="img/events/20151023-Wind-UpNYC-OpeningReception-080.jpg"/>
      <img src="img/events/20151024-Wind-UpNYC-Fair-066.jpg"/>
      <img src="img/events/20151024-Wind-UpNYC-Fair-094.jpg">
      <img src="img/events/20151024-Wind-UpNYC-Fair-152.jpg">
      <div class="horizontal-images">
        <img src="img/events/20160818-DobelxHodinkee-01.jpg">
        <img src="img/events/20160818-DobelxHodinkee-02.jpg">
      </div>
      <img src="img/events/20160818-DobelxHodinkee-03.jpg">
      <img src="img/events/20160818-DobelxHodinkee-04.jpg">
      <img src="img/events/20160818-DobelxHodinkee-05.jpg">
      <img src="img/events/20160827-Chloe1stBdayParty-003.jpg">
      <img src="img/events/20160827-Chloe1stBdayParty-260.jpg">
      <img src="img/events/20170307-BestDamn-1.jpg">
      <img src="img/events/20170307-BestDamn-2.jpg">
      <div class="horizontal-images">
        <img src="img/events/20170307-BestDamn-3.jpg">
        <img src="img/events/20170307-BestDamn-4.jpg">
      </div>
      <div class="horizontal-mix-images">
        <img src="img/events/20170307-BestDamn-5.jpg">
        <img src="img/events/20170307-BestDamn-6.jpg">
      </div>
      <img src="img/events/20180209-DrJart-1.jpg">
      <img src="img/events/20180209-DrJart-2.jpg">
      <img src="img/events/20180209-DrJart-3.jpg">
      <img src="img/events/20180209-DrJart-4.jpg">
      <img src="img/events/20180209-DrJart-5.jpg">
      <div class="horizontal-mix-images">
        <img src="img/events/20180209-DrJart-6.jpg">
        <img src="img/events/20180209-DrJart-7.jpg">
      </div>
      <div class="horizontal-mix-images">
        <img src="img/events/20180407-Bella's-First-Birthday-007.jpg">
        <img src="img/events/20180407-Bella's-First-Birthday-026.jpg">
      </div>
    </div>
      
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/scripts.js"></script>
  </main>
{% endblock %}