<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Anita Takes Pictures</title>
  <meta name="description" content="A collection of Anita Ng's photography">
  <meta name="author" content="David Nunez">
  <!-- <link href="css/lightbox.css" rel="stylesheet"> -->
  <link href="css/main.css" rel="stylesheet" >

</head>

<body>

  {% block content %}
  {% endblock %}

  {% include 'includes/scripts.html' %}
</body>
</html>