{% extends 'layout.html' %} 

{% block content %}
  <main>
    <div>
      <img src="img/interiors/212SouthOxford-001.jpg"/>
      <div class="horizontal-images">
        <img src="img/interiors/212SouthOxford-004.jpg"/>
        <img src="img/interiors/212SouthOxford-004.jpg"/>
      </div>
      <img src="img/interiors/212SouthOxford-007.jpg"/>
      <img src="img/interiors/212SouthOxford-009.jpg"/>
      <img src="img/interiors/212SouthOxford-025.jpg"/>
      <img src="img/interiors/20161014-22N6th-01.jpg"/>
      <img src="img/interiors/20161014-22N6th-02.jpg"/>
      <img src="img/interiors/20161014-22N6th-03.jpg"/>
      <img src="img/interiors/20161014-22N6th-04.jpg"/>
      <img src="img/interiors/20161014-22N6th-15J-lowres-012.jpg"/>
      <img src="img/interiors/20161105-ICP-016_high-res.jpg"/>
      <img src="img/interiors/20161105-ICP-018_high-res.jpg"/>
      <img src="img/interiors/20161105-ICP-027_high-res.jpg"/>
      <img src="img/interiors/20170112-22N6th-01.jpg"/>
      <img src="img/interiors/20170112-22N6th-02.jpg"/>
      <img src="img/interiors/20170112-22North6-LR.jpg"/>
      <img src="img/interiors/20170112-22North6-LRII.jpg"/>
      <img src="img/interiors/20170716-333WestEndDrive-01.jpg"/>
      <img src="img/interiors/20170716-333WestEndDrive-02.jpg"/>
      <img src="img/interiors/20170814-Strive-GreensburgPA-0057-Web.jpg"/>
      <img src="img/interiors/20170814-Strive-GreensburgPA-0165-Web.jpg"/>
      <img src="img/interiors/20170814-Strive-GreensburgPA-9937-Web.jpg"/>
      <img src="img/interiors/ANG-LCL-001.jpg"/>
      <img src="img/interiors/ANG-LCL-002.jpg"/>
      <img src="img/interiors/ANG-LCL-003.jpg"/>
      <img src="img/interiors/ANG-LCL-004.jpg"/>
      <img src="img/interiors/ANG-LCL-005.jpg"/>
      <img src="img/interiors/ANG-LCL-006.jpg"/>
      <img src="img/interiors/ANG-LCL-007.jpg" class="last-image"/>
    </div>

  </main>
{% endblock %}