{% extends 'layout.html' %} 

{% block content %}
  <main>
    <div>
      <div>
        <img src="img/interiors/212SouthOxford-001.jpg"/>
      </div>
      <div class="horizontal-images">
        <img src="img/interiors/212SouthOxford-004.jpg"/>
        <img src="img/interiors/212SouthOxford-004.jpg"/>
      </div>
      <div>
        <img src="img/interiors/212SouthOxford-007.jpg"/>
        <img src="img/interiors/212SouthOxford-009.jpg"/>
        <img src="img/interiors/212SouthOxford-025.jpg"/>
      </div>
    </div>
      
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/scripts.js"></script>
  </main>
{% endblock %}